.about-main{
    background-color:  #1b253e;
    min-height: 100vh; /* Makes it take full screen height */
}

.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between columns */
    position: absolute;
    top: 25%;
}

.about-description{
    text-align: left !important;
    color: white;
    align-items: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.about-image{
border-radius: 5%;
}

.column {
    flex: 1; /* Equal width columns */
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.description{
    margin-left: 100px;
}
